
/* 배경을 조금 어둡게 해줌 */
.background-setting{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 시간 */
h1 {
    color :white;
    font-size: 140px;
    margin-bottom: 10px;
}

/* Hello + 이름 */
h4{
    font-size: 40px;
    margin: 20px;
}

/* 이름과 todo를 입력받는 input */
input{
    margin: 10px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left:10px ;
}

input:focus{
    transform: scale(1.1);
}

.btn {
    cursor: pointer;
}


.js-toDoList{
    color:white;
}

.cliked {
    color:white;
}

.form,
.greetings{
    display:none;
    color:white;
}

.showing{
    display:block;
}

@keyframes fadeIn{
    from{
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -2;
    animation: fadeIn 0.5s linear;
}


.js-weather{
    color: white;
    font-size: 25px;
    position : absolute;
    right: 70px;
    top:70px;
    font-size: 30px;
    z-index: 100;
}

li{
    border-radius: 10px;
    background-color: #ffd400;
    color: black;
    height: 150%;
    width: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline gray;
    margin: 10px;
}

span{
    margin-left: 10px;
}